@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/home.css" rel="stylesheet" />

<div class='test'>
    <Notification />
    <section class="main">
        <div class="div1">
            <h3>Envoyez et Recevez des courriers Plus facilement!</h3>

            <p>
                La gestion des courriers est désormais digitalisée et  très rapide
            </p>


        </div>

        <div class="div2">
            <img src="~/Content/courrier.jpg" alt="" style="height : 600px; width:auto; border-radius: 15px; cursor: pointer" />

        </div>


    </section>


</div>